*{
    margin: 10px;
    box-sizing: border-box;
}
body div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
body form{
    display: flex;
    flex-direction: column;
}
body table{
    border-collapse: collapse;
}
body table td{
    min-height: 30px;
    min-width: 100px;
    border: 1px solid black;
}